<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Confirm-email</title>
</head>
<body>
	
	<% if(locals.data){%>
		<p>Enter the code sent in <%- data %></p>
	<% } %>

	<form method="post" action="confirm">
		<input type="number" name="pin" placeholder="Enter the code" autocomplete="off" required> <% if(locals.err){%> <p><%- err%></p> <% }%> <br>
		<input type="submit" name="submit" value="Confirm">
	</form>

</body>
</html>