<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solo Chat World</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <main id="main">
      <div class="container">
        <div class="container__header">
          <h1 class="header">WELCOME</h1>
          <h3 class="header__sub">To</h3>
          <h2 class="sub__header">SOLO'S WORLD</h2>
        </div>
        <div class="btn__container">
          <div class="btn">
            <button>
              <a href="/login">Log In</a>
            </button>
          </div>
          <div class="btn">
            <button>
              <a href="/login">Sign up</a>
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>
=======
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Solo Chat world</title>
</head>
<body>
	
	<a href="/login"><button>Login</button></a>
	<a href="/signup"><button>Signup</button></a>

</body>
>>>>>>> 5ddbdc7630c68f09cb1d166265d75d4a6b7ef1f2
</html>
