<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log-In</title>
</head>
<body>
	
	<form method="post" action="login">
		<input type="email" name="email" placeholder="E-mail" autocomplete="off" required><br>
		<input type="password" name="password" placeholder="Password" autocomplete="off" required><br>
		<input type="submit" name="submit" value="Log in">
	</form>

</body>
</html>