<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up | To enter solo's world</title>

    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <main id="main">
      <div class="container">
        <div class="circle_up"></div>
        <div class="container__child">
          <div class="container__header">
            <h1 class="header">SIGN-UP</h1>
            <h3 class="header__sub">To</h3>
            <h2 class="sub__header">SOLO'S WORLD</h2>
          </div>
          <div class="form__container">
            <% if( locals.username){ %>
            <div class="form__error">
              <h3 class="heading">Username <%- username -%> exists</h3>
            </div>
            <% }%> <% if(locals.email){ %>
            <div class="form__error">
              <h3 class="heading">Email <%- email -%> exists</h3>
            </div>
            <% }%>

            <form method="post" action="signup" class="form">
              <input
                class="input__box"
                type="email"
                name="email"
                placeholder="E-mail"
                autocomplete="off"
                required
              />
              <input
                class="input__box"
                type="text"
                name="username"
                placeholder="Username"
                autocomplete="off"
                required
              />
              <input
                class="input__box"
                type="password"
                name="password"
                placeholder="Password"
                autocomplete="off"
                required
              />
              <input
                type="submit"
                name="submit"
                value="Sign-up"
                class="input__btn"
              />
            </form>
          </div>
        </div>
        <div class="circle_down"></div>
      </div>
    </main>
  </body>
</html>
