<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign-up</title>
</head>
<body>
	
	<% if(locals.username){ %>
		<h3>Username <%- username %> exists</h3>
	<% }%>

	<% if(locals.email){ %>
		<h3>Email <%- email %> exists</h3>
	<% }%>

	<form method="post" action="signup">
		<input type="email" name="email" placeholder="E-mail" autocomplete="off" required><br>
		<input type="text" name="username" placeholder="Username" autocomplete="off" required><br>
		<input type="password" name="password" placeholder="Password" autocomplete="off" required><br>
		<input type="submit" name="submit" value="Sign-up">
	</form>

</body>
</html>